[submodule "plugged/awesome-vim-colorschemes"]
	path = plugged/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes
[submodule "plugged/pgsql.vim"]
	path = plugged/pgsql.vim
	url = https://github.com/lifepillar/pgsql.vim
[submodule "plugged/tagbar"]
	path = plugged/tagbar
	url = https://github.com/preservim/tagbar
[submodule "plugged/vim-closer"]
	path = plugged/vim-closer
	url = https://github.com/rstacruz/vim-closer
[submodule "plugged/vim-commentary"]
	path = plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "plugged/vim-css-color"]
	path = plugged/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "plugged/vim-devicons"]
	path = plugged/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "plugged/vim-multiple-cursors"]
	path = plugged/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "plugged/vim-surround"]
	path = plugged/vim-surround
	url = https://github.com/tpope/vim-surround
